<%-include('header')%>
    <div class="container">
        <center>
            <div class="display-5" style="font-size: 150px;font-weight: bolder; color: blueviolet;">404</div>
            <div class="display-5" style="font-size: 80px; font-weight: bolder; position: relative; color: blueviolet;">
                PAGE
                NOT FOUND
            </div>
            <img src="/images/404.png" style="margin-top: -35px;">
            <div class="display-5"
                style="font-size: 100px; font-weight: bolder; position: relative; margin-top: -110px;">
                <a href="/" style="text-decoration: none;" id="goHome">Go Home</a>
            </div>
        </center>
    </div>
    <%-include('footer')%>