<%-include ('header')%>
    <div class="container-fluid">
        <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="/images/pet-owner-1.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-light">Comprehensive Pet Healthcare</h5>
                        <p class="text-light">Trust our experienced veterinarians to provide complete healthcare
                            solutions for your beloved
                            pets. From routine
                            check-ups to specialized treatments, we prioritize your pet's well-being.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/images/pet-owner-2.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-light">Shop Pet Essentials</h5>
                        <p class="text-light">Explore our extensive collection of pet accessories and necessities.
                            From
                            premium food to
                            stylish collars, find
                            everything your furry friend needs to live a happy and healthy life.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/images/pet-owner-3.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-light">Lost & Found Pets</h5>
                        <p class="text-light">Join our community in reuniting lost pets with their families. If
                            you've
                            lost a pet or found one in need, our platform
                            connects pet owners and compassionate individuals to facilitate happy reunions.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container-fluid border mt-5 shadow" style="height:400px; width: 95%">
        <div class="row">
            <div class="col-8">
                <div class="display-3 mt-3">Expert Veterinary Care on Your Schedule</div>
                <hr>
                <p style="font-size: 20px; margin-top: 50px;">Book an appointment with our top-rated veterinarians
                    at your
                    convenience. Whether it's a routine
                    check-up or specialized
                    treatment, our experienced team is here to provide compassionate care for your pet's health
                    needs.</p>
                <a href="/appointment" class="btn btn-outline-info" style="margin-top: 100px;">Book now</a>
            </div>
            <div class="col-4"><img src="/images/pet-owner-4.jpg" alt="" style="width: 100%; margin: 10px;"></div>
        </div>
    </div>

    <div class="container-fluid border mt-5 shadow" style="height:400px; width: 95%">
        <div class="row">
            <div class="col-4"><img src="/images/pet-owner-5.jpg" alt="" style="width: 100%; margin: 10px;"></div>
            <div class="col-8">
                <div class="display-3 mt-3">Adoptable Pets</div>
                <hr>
                <p style="font-size: 20px; margin-top: 50px;">Find your new best friend among our adorable adoptable
                    pets. Give a loving home to a shelter animal and make a lifelong
                    companion. Browse our selection of dogs, cats, and more.</p>
                <a href="/" class="btn btn-outline-info" style="margin-top: 100px;">Find now</a>
            </div>
        </div>
    </div>
    <%-include ('footer')%>